MassTransit.Integration.Routing.Configuration/MessageRoutingAppConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:MassTransit.Integration.Routing.Configuration" elementFormDefault="qualified" targetNamespace="urn:MassTransit.Integration.Routing.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="masstransit.routing" type="tns:MassTransit.Integration.Routing.Configuration.masstransit.routingCT" />
	<xs:complexType name="MassTransit.Integration.Routing.Configuration.masstransit.routingCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="messageRoutings" type="tns:MassTransit.Integration.Routing.Configuration.MessageRoutingSettingsCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MassTransit.Integration.Routing.Configuration.MessageRoutingSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="routes" type="tns:MassTransit.Integration.Routing.Configuration.RouteToCollectionCT">
				<xs:annotation>
					<xs:documentation>The Routes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MassTransit.Integration.Routing.Configuration.RouteToCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="routeTo" type="tns:MassTransit.Integration.Routing.Configuration.MessageTypeCollectionCT">
				<xs:annotation>
					<xs:documentation>A collection of MessageTypeElement instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MassTransit.Integration.Routing.Configuration.MessageTypeCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="messageType" type="tns:MassTransit.Integration.Routing.Configuration.MessageTypeElementCT">
				<xs:annotation>
					<xs:documentation>The MessageTypeElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="uri" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Uri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MassTransit.Integration.Routing.Configuration.MessageTypeElementCT">
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
